<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211535781796-eh25kqd896t8ej6trhlcgos85on25m2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211535781796-eh25kqd896t8ej6trhlcgos85on25m2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211535781796-c4v97020vlhh444aksrsonh66qu2j3nl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUYKBcDDn2UVCVGwz6y9NLClRodMX7ykU</string>
	<key>GCM_SENDER_ID</key>
	<string>211535781796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onimta.sales</string>
	<key>PROJECT_ID</key>
	<string>newsalesapp-28ee1</string>
	<key>STORAGE_BUCKET</key>
	<string>newsalesapp-28ee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211535781796:ios:c82bf3a040f2f9dadfeb31</string>
	<key>DATABASE_URL</key>
	<string>https://newsalesapp-28ee1.firebaseio.com</string>
</dict>
</plist>